<div>
    <table class="table contract-table">
        <thead>
            <tr>
                <th>Contract Name</th>
                <th>Contract Address</th>
                <th>Party A</th>
                <th>Party B</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contract in contracts">
                <td>
                    {{contract.ContractName}}
                </td>
                <td>
                    {{contract.ContractAddress}}
                </td>
                <td>
                    {{contract.PartyA}}
                </td>
                <td>
                    {{contract.PartyB}}
                </td>
                <td>
                    <span ng-if="contract.SettlementStatus == 'false'" class="animate-if">
                        Unsettled
                    </span>
                    <span ng-if="contract.SettlementStatus == 'true'" class="animate-if">
                        Settled
                    </span>
                </td>
                <td>
                    <span ng-if="contract.SettlementStatus == 'false'"  class="animate-if">
                        <button type="button" class="btn btn-primary" ng-click="settleContract(contract.ContractAddress, $event)">Settle</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>